@font-face {
    font-family: comic;
    src: url(comic.ttf);
}

#navImg {
    width: 3em;
}

#imageGallery img {
    height: 20em;
}

.sponsor {
    float: left;
    width: 40%;
    margin: 1em;
    padding: 1em;
    border-radius: 15px;
    background-color: grey;
}

nav {
    background-color: lightsteelblue;
    overflow: hidden;
    width: 100%;
}

nav img {
    float: left;
}

nav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

h1, h2 {
    text-align: center;
}

body {
    font-family: comic;
}